In [8]:
import pandas as pd

In [9]:
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
df = pd.merge(ratings, movies, on='movieId')
df.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [10]:
df.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
title        0
genres       0
dtype: int64

In [11]:
df.duplicated().sum()

np.int64(0)

In [12]:

df['genres_cleaned'] = df['genres'].str.replace('|', ' ', regex=False)
df['timestamp'] = pd.to_datetime(df['timestamp'], unit='s')
df = df.drop(columns=['genres'])
df

,userId,movieId,rating,timestamp,title,genres_cleaned
0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure Animation Children Comedy Fantasy
1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy Romance
2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action Crime Thriller
3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery Thriller
4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime Mystery Thriller
...,...,...,...,...,...,...
100831,610,166534,4.0,2017-05-03 21:53:22,Split (2017),Drama Horror Thriller
100832,610,168248,5.0,2017-05-03 22:21:31,John Wick: Chapter Two (2017),Action Crime Thriller
100833,610,168250,5.0,2017-05-08 19:50:47,Get Out (2017),Horror
100834,610,168252,5.0,2017-05-03 21:19:12,Logan (2017),Action Sci-Fi
100835,610,170875,3.0,2017-05-03 21:20:15,The Fate of the Furious (2017),Action Crime Drama Thriller

In [13]:
df.to_csv('movies_ratings_cleaned.csv', index=False)